cookies_20minutes_fr.json
cookies.json

data/*
horoscopes/*
posts/amour/*
posts/argent_et_travail/*
posts/humeur/*
posts/sante/*

posts_api/balance/*
posts_api/belier/*
posts_api/cancer/*
posts_api/capricorne/*
posts_api/gemeaux/*
posts_api/lion/*
posts_api/poissons/*
posts_api/sagittaire/*
posts_api/scorpion/*
posts_api/taureau/*
posts_api/verseau/*
posts_api/vierge/*

scrapp.py